div.main {
    width:200px;
    height:200px;
    
}
div.h {
    font-family:Papyrus;
    font-size:36px;
    font-weight:normal;}
div.i {
    font-family:Papyrus; 
    font-size:16px; 
    font-weight:normal;}
div.l {
    font-family:Papyrus;
    font-size:32px;
    font-weight:normal;}
div.c {
    font-family:Papyrus; 
    font-size:36px; 
    font-weight:normal;}
div.r {
    font-family:arial; 
    font-size:20px; 
    font-weight:normal}
div.divmenu {
    position:absolute; 
    TOP:50px; 
    LEFT:25%; 
    WIDTH:300px; 
    HEIGHT:200px;}
div.divlogo {
    position:absolute; 
    TOP:50px; LEFT:47%;
    WIDTH:200px; HEIGHT:200px;
    border-style:solid;
    border-width:5px; 
    border-color:black;}
div.divbasket {
    position:absolute; 
    TOP:50px; LEFT:70%;
    WIDTH:300px; 
    HEIGHT:200px;}
div.divbasketpicture {
	position:absolute; 
	TOP:50px;
        LEFT:84%;
	WIDTH:100px; 
	HEIGHT:100px;}
div.divlogon {
    position:absolute; 
    TOP:10px; 
    LEFT:90%;
    WIDTH:100px; 
    HEIGHT:70px;}
div.divtrolley {
    position:absolute; 
    TOP:255px; 
    LEFT:10%;
    HEIGHT:220px; 
    WIDTH:220px;
    border-style:solid;
    border-width:2px; 
    border-color:black;}
div.divordertext {
    position:absolute; 
    TOP:320px; 
    LEFT:30%;
    WIDTH:300px; 
    HEIGHT:170px;}
div.divorder {
    position:absolute; 
    TOP:375px;
    LEFT:30%;
    HEIGHT:475px;
    WIDTH:1000px; 
    border-style:solid;
    border-width:2px; 
    border-color:black;}
div.divitemorderback {
    position:absolute; 
    TOP:375px; 
    LEFT:30%; 
    HEIGHT:475px; 
    WIDTH:1000px;
    z-index: -1;}
div.divtotal {
    position:absolute; 
    TOP:725px; 
    LEFT:67%; 
    HEIGHT:125px; 
    WIDTH:295px; 
    border-style:solid; 
    border-width:2px; 
    border-color:black;}
div.divaddbutton {
    position:absolute; 
    TOP:900px; 
    LEFT:45%; 
    HEIGHT:45px;
    WIDTH:110px;
    border-style:solid;
    border-width:2px;
    border-color:black;}
div.divcancelbutton {
    position:absolute; 
    TOP:900px;
    LEFT:60%;
    HEIGHT:45px;
    WIDTH:110px; 
    border-style:solid;
    border-width:2px; 
    border-color:black;}
div.divrequired {
    position:absolute; 
    TOP:960px;
    LEFT:450px; 
    HEIGHT:160px;
    WIDTH:300px;}
div.divpayment {
    position:absolute; 
    TOP:1000px;
    LEFT:1000px; 
    HEIGHT:160px;
    WIDTH:100px;
    border-style:solid;
    border-width:2px;
    border-color:black;}
div.divcash {
    position:absolute; 
    TOP:1000px; 
    LEFT:500px;
    HEIGHT:160px; 
    WIDTH:500px; 
    border-style:solid;
    border-width:2px; 
    border-color:black;}
div.divitemcashback {
    position:absolute; 
    TOP:1000px;
    LEFT:500px;
    HEIGHT:160px;
    WIDTH:1100px;
    z-index: -1;}
div.divcard {
    position:absolute; 
    TOP:1000px;
    LEFT:1100px;
    HEIGHT:160px;
    WIDTH:500px;
    border-style:solid;
    border-width:2px;
    border-color:black;}
div.divplaceorder {
    position:absolute; 
    TOP:1200px; 
    LEFT:75%; 
    HEIGHT:100px;
    WIDTH:410px;}
#orderbutton {
    LEFT: 0px; 
    TOP: 0px; 
    width: 110px; 
    height: 60px; 
    background-color: #4CAF50; 
    color: black; 
    font-size:18px; 
    font-weight:250}
#addbutton {
    LEFT: 0px; 
    TOP: 0px; 
    width: 110px; 
    height: 45px; 
    background-color: #4CAF50; 
    color: black; 
    font-size:18px; 
    font-weight:250;}
#cancelbutton {
    LEFT: 0px; 
    TOP: 0px; 
    width: 110px; 
    height: 45px; 
    background-color: #4CAF50; 
    color: black; 
    font-size:18px; 
    font-weight:250;}
#removebutton {
    LEFT: 0px; 
    TOP: 0px; 
    width: 25px; 
    height: 25px; 
     }
