div.l {
    font-family:Papyrus; 
    font-size:16px;
    font-weight:normal}
div.t {
    font-family:Papyrus; 
    font-size:36px;
    font-weight:normal}
div.h {
	font-family:Papyrus; 
	font-size:36px; 
	font-weight:normal;}
div.divmenu {
	position:absolute;
	TOP:50px;
	LEFT:25%; 
	WIDTH:300px; 
	HEIGHT:200px;}
div.divlogo {
	position:absolute; 
	TOP:50px; 
	LEFT:47%; 
	WIDTH:200px; 
	HEIGHT:200px; 
	border-style:solid; 
	border-width:5px; 
	border-color:black;}
div.divbasket {
	position:absolute; 
	TOP:50px;
    LEFT:70%;
	WIDTH:300px; 
	HEIGHT:200px;}
div.divbasketpicture {
	position:absolute; 
	TOP:50px;
        LEFT:84%;
	WIDTH:100px; 
	HEIGHT:100px;}
div.divlogon {
    position:absolute; 
    TOP:10px; 
    LEFT:90%;
    WIDTH:100px; 
    HEIGHT:70px;}
div.divtitle {
    position:absolute; 
    TOP:310px; 
    LEFT:70px; 
    WIDTH:600px;
    HEIGHT:70px;}
div.divrequired {
    position:absolute; 
    TOP:360px; 
    LEFT:70px; 
    WIDTH:600px;
    HEIGHT:70px;}
div.divsecondt {
    position:absolute; 
    TOP:310px; 
    LEFT:1000px; 
    WIDTH:300px;
    HEIGHT:70px;}
div.divfield1 {
    position:absolute;
    TOP:400px; 
    LEFT:10%;
    HEIGHT:40px;
    WIDTH:375px;}
div.divfieldlogin1 {
    position:absolute;
    TOP:400px; 
    LEFT:60%;
    HEIGHT:40px;
    WIDTH:375px;}
div.divfield2 {
    position:absolute;
    TOP:450px;
    LEFT:10%; 
    HEIGHT:40px; 
    WIDTH:375px;}
div.divfieldlogin2 {
    position:absolute;
    TOP:450px;
    LEFT:60%; 
    HEIGHT:40px; 
    WIDTH:375px;}
div.divfield3 {
    position:absolute;
    TOP:500px;
    LEFT:10%; 
    HEIGHT:40px;
    WIDTH:475px;}
div.divfield4 {
    position:absolute;
    TOP:550px;
    LEFT:10%; 
    HEIGHT:40px;
    WIDTH:375px;}
div.divfield5 {
    position:absolute;
    TOP:600px;
    LEFT:10%; 
    HEIGHT:40px;
    WIDTH:375px;}
div.divfield6 {
    position:absolute; 
    TOP:650px; 
    LEFT:10%; 
    HEIGHT:40px; 
    WIDTH:375px;}
div.divfield7 {
    position:absolute;
    TOP:700px; 
    LEFT:10%;
    HEIGHT:40px; 
    WIDTH:375px;}
div.divfield8 {
    position:absolute; 
    TOP:750px; 
    LEFT:10%; 
    HEIGHT:40px; 
    WIDTH:375px;}
div.divfield9 {
    position:absolute; 
    TOP:800px; 
    LEFT:10%; 
    HEIGHT:40px;
    WIDTH:375px;}
div.divfield10 {
    position:absolute; 
    TOP:850px; 
    LEFT:10%; 
    HEIGHT:40px;
    WIDTH:375px;}
div.divfield11 {
    position:absolute; 
    TOP:900px;
    LEFT:10%; 
    HEIGHT:40px;
    WIDTH:375px;}
div.divfield11one {
    position:absolute; 
    TOP:900px; 
    LEFT:15%;
    HEIGHT:40px;
    WIDTH:275px;}
div.divfield11two {
    position:absolute;
    TOP:920px;
    LEFT:15%; 
    HEIGHT:40px; 
    WIDTH:275px;}
div.divfield11three {
    position:absolute; 
    TOP:940px; 
    LEFT:15%;
    HEIGHT:40px; 
    WIDTH:275px;}
div.divfield11four {
    position:absolute; 
    TOP:960px; 
    LEFT:15%; 
    HEIGHT:40px; 
    WIDTH:275px;}
div.divfield12 {
    position:absolute; 
    TOP:980px; 
    LEFT:10%; 
    HEIGHT:40px; 
    WIDTH:375px;}
div.divfield13 {
    position:absolute; 
    TOP:1000px;
    LEFT:10%; 
    HEIGHT:50px; 
    WIDTH:175px;}
div.divfield14 {
    position:absolute; 
    TOP:520px;
    LEFT:64%; 
    HEIGHT:50px; 
    WIDTH:175px;}
#registerbutton {
    LEFT: 0%; 
    TOP: 0%; 
    width: 100%;
    height: 100%; 
    background-color: #4CAF50; 
    color: black; 
    font-size:18px; 
    font-weight:250}
#loginbutton {
    LEFT: 0%; 
    TOP: 0%; 
    width: 100%;
    height: 100%; 
    background-color: #4CAF50; 
    color: black; 
    font-size:18px; 
    font-weight:250}
#firstinput {
    LEFT: 0%;
    TOP: 0%;
    width: 670px;}
#lastinput {
    LEFT: 0%; 
    TOP: 0%;
    width: 670px;}
#addinput {
    LEFT: 0%; 
    TOP: 0%; 
    width: 670px;}
#postinput {
    LEFT: 0%;
    TOP: 0%; 
    width: 670px;}
#mailinput {
    LEFT: 0%; 
    TOP: 0%; 
    width: 670px;}
#homeinput {
    LEFT: 0%; 
    TOP: 0%; 
    width: 670px;}
#mobinput {
    LEFT: 0%; 
    TOP: 0%; 
    width: 670px;}
#userinput {
    LEFT: 0%; 
    TOP: 0%; 
    width: 670px;}
#passinput {
    LEFT: 0%; 
    TOP: 0%; 
    width: 670px;}
#prefinput {
    LEFT: 0%; 
    TOP: 0%; 
    width: 670px; 
    height: 200px;}

